!!!
%html
%head
  %meta{"charset" => "utf-8"}/
  %meta{"content" => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title= @page_title
  %style= @style
%body
  %header
    %h1= @page_title
  %article
    %ul
      - @tags.each do |tag|
        %li
          %a{href: "#{tag[:name]}.html"}
            %span.tag= tag[:name]
            %span.count= "(#{tag[:count]})"

